/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Cabeçalho */
  header {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha logo à esquerda e título à direita */
  }
  
  header img {
    max-height: 120px;
  }
  
  header h1 {
    font-size: 1.8rem;
    margin-left: 20px;
    text-align: right;
  }
  
  /* Container de seções */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  /* Seções */
  .section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 45%;
    text-align: center;
    box-sizing: border-box;
  }
  
  .section h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8800;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #b1a99f;
  }
  
  /* Rodapé */
  footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer img {
    margin: 0 10px;
    max-height: 80px;
  }
  
  footer p {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  
  /* Responsividade */
  @media (max-width: 1024px) {
    .section {
      width: 48%;
    }
  }
  
  @media (max-width: 768px) {
    header h1 {
      font-size: 1.7rem;
    }
  
    .section {
      width: 100%;
      margin: 10px 0;
    }
  
    .container {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    header h1 {
      font-size: 1.5rem;
    }
  
    .button {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  
    footer p {
      font-size: 0.8rem;
    }
  
    footer img {
      max-height: 30px;
    }
  }